.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 160px auto 80px;
    width: 350px;
    height: 100%;
  }
  
  .content a {
    color: #df4723;
    font-size: 12px;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .content form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .content form label {
    margin-top: 20px;
  }
  
  .content form input {
    margin-top: 5px;
  }
  
  .content form button {
    margin-top: 15px;
  }
