.app-navbar {
  padding: 74px 0 20px 20px;
}

.projects-collapsible {
  align-items: center;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
}

.active,
.projects-collapsible:hover {
  background-color: #f1e8e8;
}

.projects-collapsible button {
  text-align: left;
  background: transparent;
  border: none;
  font-weight: bold;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}

.project-list {
  display: none;
  border-bottom: 1px solid #eee;
  max-height: auto;
  padding: 10px 0 10px 0;
  transition: max-height 0.2s ease-out;
}

.project-item {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  transition: 0.3s;
}

ul.filters-list li {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  transition: 0.3s;
}

.project-item:hover,
li:hover {
  background-color: #fff;
}

.current-selected-project {
  background-color: #fff;
  font-weight: bold;
}

.current-selected-project button,
.project-item button {
  background: transparent;
  border: none;
  height: 100%;
  padding: 10px 10px 10px 10px;
  text-align: left;
  width: 100%;
}
