@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #df4723;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  color: #df4723;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button:focus {
  outline: none;
}

.app-container {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-primary,
.app-btn {
  background: #df4723;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
}

.btn-primary:hover,
.app-btn:hover {
  background: #da3914;
}

label {
  color: #393a3b;
  font-weight: bold;
  margin-bottom: 0;
}

input {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #666;
  height: 40px;
  padding: 0 10px;
}

input:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
